.twoInputField{
    display: flex;
    justify-content: space-between;

}

.twoInputField input{
    width: 400px;

}

input {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light-pink);
    border: none;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 25px;
    padding-left: 10px;
}


input:focus{
    background-color: var(--color-purple);
    color: white;

}

label {
    color: var(--color-pink);
    font-weight: bold;
    font-size: 20px;
}