button{
    background-color: var(--color-pink);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 7px 4px 15px 4px rgba(244, 154, 193, 0.79);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.2rem;

}

button:active{
    transform: translate(0, 20px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    color: var(--color-purple);
}
