.radiobutton--register{
    display: flex;
    width: 100%;
}

.radiobutton--register label{
    font-weight: bold;
    font-size: 15px;
    color: var(--color-purple);
}

.radiobutton--register .box{
width: 120px;
    margin: 10px 10px 50px 0;
    height:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}.radiobutton--register span{
    margin-top: -45%;
 }

form p{
    font-size: 12px;
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}