/* ----- PINKNAV-right ----- */


.pink-nav {
    background-color: var(--color-pink);
    padding: 50px 50px;
    min-height: 600px;
    max-height: 600px;
    flex-shrink: 2;
    border-radius: 20px 0 0 20px;
    -webkit-box-shadow: -7px 10px 29px 8px rgba(244, 154, 193, 0.79);
    box-shadow: -7px 10px 29px 8px rgba(244, 154, 193, 0.79);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.pink-nav h1 {
    color: white;
    size: 32px;
    padding-bottom: 60px;
    margin-top: -10px;
}

.pink-nav button {
    font-size: 1.5rem;
    border: none;
    background-color: var(--color-light-pink);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 25%;
    box-shadow: none;

}

.pink-nav h1 {
    font-size: 30px;
}

.foto-container {
    max-width: 300px;
    height: auto;
}

/* ----- PINKNAV-left ----- */
.pink-nav-left {
    background-color: var(--color-pink);
    padding: 50px 50px;
    flex-basis: 500px;
    flex-shrink: 2;
    min-height: 600px;
    border-radius: 0 20px 20px 0;
    box-shadow: 7px -10px 29px 8px rgba(244, 154, 193, 0.79);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.pink-title h3 {
    font-size: 24px;
    color: white;

}

.pink-title img {
    width: 20px;
}


/* ----- PINKNAV-log ----- */

.section-log {
    display: flex;

}

.section-log h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.button-log button {
    color: var(--color-pink);
    background-color: white;
    box-shadow: 3px 3px 12px 2px rgba(79, 41, 68, 0.62);
    margin-top: 20px;
}

.progressbar-container {
    padding-left: 10px;


}