
.box {
    width: 180px;
    height: 50px;
    background-color: var(--color-light-pink);
    transition: all 250ms ease;
    will-change: transition;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.box:active{
    transform: translate(0, 20px);
    left: 0;
    right: 0;
    transition: all 300ms ease;
    color: white;

}
.box:checked{
    background-color: var(--color-purple);
    color: white;
}

p Link{
    color: var(--color-pink);
    font-weight: bold;
}

p Link:visited{
    color: var(--color-pink);
    font-weight: bold;
}
