.layout-check {
    max-width: 800px;
    display: grid;
    grid-template-columns: 30% 30% 10% 12%;
    grid-column-gap: 6%;
    color: var(--color-pink);
    height: auto;
}

.col1 {
    padding-left: 35px;
}

.col2 input {
    width: 100%;
    margin: 0;
}

.col3 input {
    width: 100%;
}

.col4 {
    display: flex;
    justify-content: end;
}