.project-line {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-pink);
    margin-top: 20px;
    margin-bottom: 20px;

}

.star {
    max-height: 30px;
}

.project-title {
    display: flex;
    flex-basis: 80%

}

.project-title h3 {
   color: var(--color-purple);
    margin-left: 20px;
    margin-right: 5px;

}

.project-title h2 {
    margin-left: 30px;
    color: var(--color-purple);

}

.project-title h4 {
    margin-left: 20px;
}

.project-title p {
    margin-left: 20px;
}
.buttons-project{
    display: flex;
}


.project-line button {
    color: white;
    background-color: var(--color-purple);
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px rgba(79, 41, 68, 0.62);
    margin-left: 30px;
    font-weight: bold;
    font-size: 0.7rem;

}