.form-body {
    display: flex;
}

.twoInputField input {
    width: 380px;

}

.twoInputField--checkbox {
    display: flex;
}

.twoInputField--checkbox div {
    margin-right: 20%;
}

.twoInputField--checkbox-textfield {
    display: flex;
}


.twoInputField--checkbox-textfield div {
    margin-right: 15%;
}

input::placeholder {
    color: white;
}


body {
    display: flex;
    width: 100%;
}

.counter {
    background-color: #e20074;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: end;
    width: 20%;
    height: 100px;
    border-radius: 5px;
    padding-top: 10px;
    margin-right: 50px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
    box-shadow: 7px 4px 15px 4px rgba(244, 154, 193, 0.79);
}

.counter-area {
    margin-left: 30px;
}


.layout-check {
    max-width: 800px;
    display: grid;
    grid-template-columns: 30% 30% 10% 12%;
    grid-column-gap: 6%;
    color: var(--color-pink);
    height: auto;


}


.col1 {
    padding-left: 35px;
}

.col2 input{
    width: 100%;
    margin: 0px;
}

.col3 input{
    width: 100%;
}
.col4 {
    display: flex;
    justify-content: end;
}