
/* ---------- Global Styles ----------*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* ---------- Text ----------*/

body {
    font-family: Poppins, Arial, SansSerif;
}
h1{
    color: var(--color-pink);
    font-size: 48px;
    margin-top: 50px;
}
h2{
    color: var(--color-purple);
}
/* ---------- color ----------*/
:root {
    --color-pink: #e20074;
    --color-light-pink: #f49ac1;
    --color-purple: #9e1d6b;
    --color-dark-purple: #4f2944;
    --color-dark-grey: #d5c7d0;
    --color-grey: #e4dfe4;
}


/* ---------- Layout ----------*/


/* voor de parent (body)*/

.body--flex{
    display: flex;
    width: 100vw;
    border: blue 2px solid;
}

.inner-container-left{
    margin-left: 50px;
    margin-right: 5%;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 2;
    border: solid 2px yellow;
}

.inner-container-right{
    margin-right: 50px;
    margin-left: 5%;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 2;
    border: solid 2px yellow;

}

.pink--left{
    flex-basis: 450px;
    flex-shrink: 0;
    border: solid 2px;
}

.pink--right{
    flex-basis: 450px;
    flex-shrink: 0;
    border: solid 2px;
    display: flex;
    justify-content: end;
}